// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
    background-image: none;
}

article {
    p {
        line-height: 1.8em;
    }
}

sup {
	top: -1em;
}

a[rel="footnote"] {
    border-bottom: none;
    background-color: #fff9c7;
    line-height: 0;
}

a[rel="footnote"]:before {
    content: "{";
}

a[rel="footnote"]:after {
    content: "}";
}

.footnotes {
	font-size: small;
	li p {
		margin-bottom: 0.5em;
	}
}